/* ----------------------------------------------------------------
Colours
---------------------------------------------------------------- */

// Colours
$grey: #C7CED3;
$light-grey: #f6f6f6;
$mid-grey: #E8EAEC;
$dark-grey: #333;

$light-green: #3eae48;
$dark-green: #006600;
